/*------------- #BREADCRUMBS --------------*/


.breadcrumbs {
  padding-left: 0;
  margin-bottom: 50px;

  .breadcrumbs-item {
	font-size: 14px;
	display: inline-block;
	margin-bottom: 20px;

	.puzzle-icon {
	  font-size: 12px;
	  color: var(--grey-color);
	  margin: 0 14px;
	}

	a {
	  color: var(--white-color);
	  display: flex;
	  align-items: center;
	}

	&.active {
	  display: block;

	  span {
		font-size: 24px;
		color: var(--primary-accent-color);
	  }
	}
  }
}




/*------------- Responsive Mode --------------*/

@media (max-width: 1024px) {
  .breadcrumbs {
	margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs .breadcrumbs-item {
	margin-bottom: 10px;
  }

  .breadcrumbs .breadcrumbs-item.active span {
	font-size: 18px;
  }
}