/*------------- #COMING-SOON --------------*/


.coming-soon-page {
  padding: 20px 0 60px;
  background-color: var(--dark-themes);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
