/*------------- #FORMS --------------*/

input, textarea, select, .select2 {
  padding: 1.18rem 1.875rem;
  transition: all .3s ease;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--border-grey-color);
  width: 100%;
  outline: none;
  caret-color: var(--body-font-color);

  &::-webkit-input-placeholder {
	color: var(--placeholder-color);
  }

  &::-moz-placeholder {
	color: var(--placeholder-color);
  }

  /* Firefox 19+ */
  &:-moz-placeholder {
	color: var(--placeholder-color);
  }

  /* Firefox 18- */
  &:-ms-input-placeholder {
	color: var(--placeholder-color);
  }

  &:focus {
	color: var(--body-font-color);
	background-color: var(--white-color);
	box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.2);

	&::-webkit-input-placeholder {
	  color: var(--placeholder-active-color);
	}
	&::-moz-placeholder {
	  color: var(--placeholder-active-color);
	}
	/* Firefox 19+ */
	&:-moz-placeholder {
	  color: var(--placeholder-active-color);
	}
	/* Firefox 18- */
	&:-ms-input-placeholder {
	  color: var(--placeholder-active-color);
	}

	& + .puzzle-icon {
	  fill: var(--primary-accent-color);
	  color: var(--primary-accent-color);
	}
  }

  &.input--white {
	background-color: var(--white-color);
  }

  &.input--dark {
	background-color: var(--input-dark-bg);
	color: var(--white-color);

	&::-webkit-input-placeholder {
	  color: var(--grey-color);
	}
	&::-moz-placeholder {
	  color: var(--grey-color);
	}
	/* Firefox 19+ */
	&:-moz-placeholder {
	  color: var(--grey-color);
	}
	/* Firefox 18- */
	&:-ms-input-placeholder {
	  color: var(--grey-color);
	}

	&:focus {
	  background-color: var(--white-color);
	  color: var(--body-font-color);

	  &::-webkit-input-placeholder {
		color: var(--placeholder-active-color);
	  }
	  &::-moz-placeholder {
		color: var(--placeholder-active-color);
	  }
	  /* Firefox 19+ */
	  &:-moz-placeholder {
		color: var(--placeholder-active-color);
	  }
	  /* Firefox 18- */
	  &:-ms-input-placeholder {
		color: var(--placeholder-active-color);
	  }
	}
  }
}

label {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.input--with-icon {
  position: relative;

  input, textarea, select {
	margin-bottom: 0;

	&:focus + .puzzle-icon {
	  fill: var(--primary-accent-color);
	  color: var(--primary-accent-color);
	}
  }

  .puzzle-icon {
	position: absolute;
	z-index: 1;
	transition: all .3s ease;
	height: 22px;
	width: 22px;
	font-size: 22px;
	fill: var(--white-color);
	color: var(--white-color);
  }
}

.input--icon-right {

  input, textarea, select {
	padding-right: 70px;
  }

  .puzzle-icon {
	right: 30px;
	top: 50%;
	transform: translate(0, -50%);
  }
}

.input--border-bottom {
  position: relative;

  input, textarea, select {
	background-color: transparent;
	border-radius: 0;
	border: none;
	border-bottom: 4px solid var(--white-color);
	margin-bottom: 0;
	padding: 1.18rem 30px 1.18rem 0;
	caret-color: var(--white-color);
	color: var(--white-color);

	&::-webkit-input-placeholder {
	  color: var(--white-color);
	}

	&::-moz-placeholder {
	  color: var(--white-color);
	}

	/* Firefox 19+ */
	&:-moz-placeholder {
	  color: var(--white-color);
	}

	/* Firefox 18- */
	&:-ms-input-placeholder {
	  color: var(--white-color);
	}

	&:focus {
	  border-bottom-color: var(--primary-accent-color);
	  color: var(--white-color);

	  &::-webkit-input-placeholder {
		color: var(--placeholder-color);
	  }

	  &::-moz-placeholder {
		color: var(--placeholder-color);
	  }

	  /* Firefox 19+ */
	  &:-moz-placeholder {
		color: var(--placeholder-color);
	  }

	  /* Firefox 18- */
	  &:-ms-input-placeholder {
		color: var(--placeholder-color);
	  }

	  & + .puzzle-icon {
		fill: var(--primary-accent-color);
		color: var(--primary-accent-color);
	  }
	}
  }

  .puzzle-icon {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;
	transition: all .3s ease;
	height: 22px;
	width: 22px;
	font-size: 22px;
	fill: var(--white-color);
	color: var(--white-color);
  }
}

/*------------- #SELECT2 Customization --------------*/

.select2 {
  padding: 1rem 1.875rem;

  &.select2-container--open {
	border-radius: 5px 5px 0 0;
	background-color: var(--white-color);
	box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
	color: var(--border-grey-color);

	& + .select2-container--default .select2-selection--single .select2-selection__arrow b {
	  border-bottom-color: var(--body-font-color);
	  border-right-color: var(--body-font-color);
	}

	& + .select2-container--default.select2-container--disabled .select2-selection--single {
	  background-color: transparent;
	}

	& + .select2-container--default .select2-selection--single .select2-selection__rendered {
	  color: var(--border-grey-color);
	}
  }
}

.select2-container--default .select2-selection--single {
  border-color: transparent;
  background-color: transparent;
}

.select2-container {
  margin-bottom: 20px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
  color: var(--body-font-color);
}

.select2-container.select2-container--open .select2-selection--single .select2-selection__rendered {
  color: var(--icon-color);
  transition: all .3s ease;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: block;
  border-bottom: 2px solid var(--body-font-color);
  border-right: 2px solid var(--body-font-color);
  height: 8px;
  width: 8px;
  pointer-events: none;
  position: absolute;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(-135deg);
  border-bottom-color: var(--primary-accent-color);
  border-right-color: var(--primary-accent-color);
}

.select2-dropdown {
  box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  top: 0;
  border-top: 1px solid var(--border-grey-color);
  padding: 15px 0;
}

.select2-results__option {
  border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--light-grey);
  color: var(--body-font-color);
}

.form--bg-white {
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.crumina-form-editor {
  .fr-box {
	margin-bottom: 20px;
	border-radius: 5px;
  }

  .fr-toolbar {
	background-color: var(--border-grey-color);
	border-top: none;
  }

  .fr-box.fr-basic .fr-wrapper {
	background-color: var(--border-grey-color);
	box-shadow: none;
  }
}

/*================= Responsive Mode ============*/



/*------------- Responsive Mode --------------*/


@media (max-width: 768px) {
  label {
	font-size: 14px;
  }

  input, textarea, select, .select2 {
	padding: .7rem 1.1rem;
	font-size: 14px;
  }

  .form--bg-white {
	padding: 20px;
  }
}

@media (max-width: 560px) {
  label {
	font-size: 12px;
  }
}