/*------------- #MAPS --------------*/


.crumina-map--700 {
  height: 700px;
}

.crumina-map--200 {
  height: 200px;
}

.crumina-map {
  .leaflet-popup {
    max-width: 260px;
    bottom: 40px !important;
    left: 0 !important;

    .logo {
      margin-bottom: 30px;
    }

    h6 {
      margin-bottom: 15px;
    }

    .vacancies-location {
      margin-bottom: 20px;
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: 5px 5px 5px 0;
    box-shadow: 0 16px 30px 2px rgba(0, 0, 0, 0.26);
  }

  .leaflet-popup-content {
    margin: 40px;
  }

  .leaflet-popup-tip-container {
    left: 0;
    height: 30px;
    margin-left: 0;
  }

  .leaflet-popup-tip {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0 0;
    background: none;
    border-color: #fff transparent transparent transparent;
    padding: 0;
    margin: 0;
    transform: none;
	box-shadow: none;
  }

  &.leaflet-container a.leaflet-popup-close-button {
    top: 20px;
    right: 20px;
    padding: 0;
  }

  .button--with-icon .puzzle-icon {
    height: 16px;
  }

  .marker-cluster {
    background-color: transparent;
    background-image: url("../img/claster.png");
  }

  .marker-cluster div {
    background-color: transparent;
  }

  .marker-cluster span {
    color: var(--white-color);
  }

  .icon-candidate {
    border-radius: 100%;
    transition: all .3s ease;

    &.active-marker {
      width: 64px !important;
      height: 64px !important;
      border: 4px solid var(--primary-accent-color);
    }
  }

  .marker-cluster-candidates {
    background-color: transparent;
    background-image: url("../img/claster-cand.png");
  }
}

.block-location-info {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
  z-index: 999;
  max-width: 20%;
}


/*------------- Responsive Mode --------------*/


@media (max-width: 768px) {
  .crumina-map--700 {
    height: 450px;
  }

  .crumina-map--200 {
    height: 150px;
  }

  .block-location-info {
    max-width: 50%;
  }
}

@media (max-width: 460px) {
  .crumina-map--700 {
    height: 300px;
  }
}
