/*------------- #STUNNING-HEADER --------------*/


.stunning-header {
  position: relative;
}
.stunning-bg1 {
  background-image: url("../img/company3.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.stunning-bg2 {
  background-image: url("../img/company4.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.stunning-bg3 {
  background-image: url("../img/company6.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.stunning-bg4 {
  background-image: url("../img/company7.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.page-title {
  margin: 0;
}