/*------------- #TABS --------------*/


.tabs {
  position: relative;
  z-index: 400;

  .nav-tabs .nav-link {
	border: none;
	height: 100%;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	text-decoration: none;

	&.active {
	  background-color: var(--light-grey);
	  color: var(--heading-color);
	}
  }

  .nav-tabs {
	border: none;
  }

  .tab-content {
	padding: 60px 0 40px;
	background-color: var(--light-grey);
  }
}

.tab-content .tab-pane {
  visibility: hidden;
  max-height: 0;
  opacity: 0;

  &.active {
	visibility: visible;
	max-height: unset;
	opacity: 1;
  }

  &.fade {
	opacity: 1;
  }
}


/*------------- #TABS with icon--------------*/

.tabs--with-icon {

  .nav-tabs {
	padding-top: 60px;
	flex-wrap: nowrap;

	.nav-item {
	  width: 100%;

	  &:first-child .nav-link {
		border-top-left-radius: 4px;
	  }

	  &:last-child .nav-link {
		border-top-right-radius: 4px;
	  }
	}
  }

  .nav-tabs .nav-link {
	position: relative;
	background-color: var(--heading-color);
	padding: 50px 230px 50px 60px;
	margin: 0;
	color: var(--primary-accent-color);
	border-radius: 0;
	transition: all .3s ease;
	text-transform: none;
	letter-spacing: inherit;

	.puzzle-icon {

	  &.active {
		opacity: 0;
	  }
	}

	&.active {

	  .position-count {
		color: var(--heading-color);
	  }

	  .puzzle-icon {
		opacity: 0;

		&.active {
		  opacity: 1;
		}
	  }
	}
  }

  .icons {
	position: absolute;
	max-width: 140px;
	max-height: calc(100% + 60px);
	bottom: 0;
	right: 80px;

	.puzzle-icon {
	  position: relative;
	  max-height: 100%;
	  margin-bottom: -1px;

	  &.active {
		position: absolute;
		bottom: 0;
		left: 0;
	  }
	}
  }

  .position-count {
	display: block;
	color: var(--white-color);
	font-size: 16px;
	font-weight: 400;
	transition: all .3s ease;
	margin-top: 20px;
	line-height: 1;
  }
}


/*------------- #TABS Standard --------------*/

.tabs--standard {
  .nav-tabs .nav-link {
	margin: 0;
	padding: 22px 40px;
	line-height: 1;
  }
}


/*------------- #TABS Primary --------------*/

.tabs--primary {
  .nav-tabs {
	padding-top: 3px;
  }

  .nav-tabs .nav-link {
	margin: 0;
	padding: 22px 40px;
	line-height: 1;
	background-color: var(--primary-accent-color);
	transform: scale(1);
	position: relative;

	&.active {
	  transform: scale(1.1);
	  z-index: 5;
	}
  }
}


/*------------- #TABS Border Primary --------------*/

.tabs--border-primary {
  .nav-tabs .nav-link {
	border-top: 10px solid var(--dark-themes);
	text-transform: none;
	padding: 50px 60px 20px 60px;
	background-color: var(--primary-accent-color);
	line-height: 1;
	margin: 0;

	&.active {
	  border-color: var(--primary-accent-color);
	}
  }
}




/*================= Responsive Mode ============*/


@media (max-width: 991px) {
  .tabs--with-icon .icons {
	max-width: 80px;
	right: 20px;
  }

  .tabs--with-icon .nav-tabs .nav-link {
	padding: 20px 60px 20px 20px;
  }

  .tabs--standard .nav-tabs .nav-link {
	  padding: 15px 20px;
  }
}

@media (max-width: 801px) {
  .tabs--standard .nav-tabs {
	text-align: center;
	flex-direction: column;
  }

  .tabs--standard .nav-tabs .nav-link.active {
	background-color: var(--primary-accent-color);
  }

  .tabs--standard .nav-tabs .nav-link {
	background-color: var(--light-grey);
  }

  .tabs--standard .nav-tabs .nav-link {
	border-radius: 0.25rem;
  }
}

@media (max-width: 768px) {
  .tabs--primary .nav-tabs .nav-link {
	padding: 10px 10px;
	font-size: 12px;
  }

  .tabs--with-icon .nav-tabs {
	flex-wrap: wrap;
	padding-top: 35px;
  }

  .tabs--with-icon .icons {
	height: calc(100% - 10px);
  }

  .tabs--border-primary .nav-tabs .nav-link {
	padding: 20px;
  }

  .tabs .tab-content {
	padding: 40px 0 0;
  }
}

@media (max-width: 460px) {
  .tabs--with-icon .icons {
	max-width: 60px;
	right: 10px;
  }
}