/*------------- #HEADING --------------*/

.crumina-heading {
  position: relative;
  z-index: 5;
  margin-bottom: 30px;

  & > *:last-child {
	margin-bottom: 0;
  }

  & > *:first-child {
	margin-top: 0;
  }

  &.no-margin {
	margin: 0;
  }

  .heading-sup-title {
	letter-spacing: 5px;
  }

  &.heading--with-decoration {
	.heading-title {
	  &:before {
		content: "";
		font-size: inherit;
		background-color: var(--primary-accent-color);
		display: block;
		position: relative;
		margin-bottom: .47em;
	  }
	}
  }

  &.decoration--dark-theme {
	.heading-title {
	  &:before {
		background-color: var(--dark-themes);
	  }
	}
  }

  &.decoration--yellow-theme {
	.heading-title {
	  &:before {
		background-color: var(--yellow-themes);
	  }
	}
  }

  &.decoration--red-theme {
	.heading-title {
	  &:before {
		background-color: var(--red-themes);
	  }
	}
  }

  &.decoration--blue-theme {
	.heading-title {
	  &:before {
		background-color: var(--blue-themes);
	  }
	}
  }

  &.heading--inline {
	display: flex;
	align-items: center;

	.heading-title {
	  margin-right: 40px;
	  min-width: 31.1%;
	  width: 31.1%;
	  margin-bottom: 0;
	}
  }

  &.heading--uppercase {
	.heading-title {
	  letter-spacing: 0.12em;
	  text-transform: uppercase;
	}
  }

  &.heading--h1 {
	.heading-text {
	  font-size: 1.25em;
	}

	.heading-title:before {
	  height: 12px;
	}
  }

  &.heading--h2 {
	.heading-text {
	  font-size: 1.25em;
	}

	.heading-title:before {
	  height: 10px;
	  margin-bottom: 30px;
	}
  }

  &.heading--h3 {
	.heading-text {
	  font-size: 1.125em;
	  margin-top: 33px;
	}

	.heading-title:before {
	  height: 8px;
	}
  }

  &.heading--h4 {
	.heading-text {
	  font-size: 1em;
	  margin-top: 23px;
	}

	.heading-title:before {
	  height: 6px;
	}
  }

  &.heading--h5 {
	.heading-text {
	  font-size: 1em;
	  margin-top: 23px;
	}

	.heading-title:before {
	  height: 4px;
	}
  }

  &.heading--h6 {
	.heading-text {
	  font-size: 1em;
	  margin-top: 15px;
	}

	.heading-title:before {
	  height: 2px;
	}
  }
}

.heading-title {
  display: inline-block;
  position: relative;
  color: inherit;
}

.heading-text {
  line-height: 1.3;
}

.heading--uppercase {
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

/*================= Responsive Mode ============*/

@media (max-width: 980px) {
  .crumina-heading[class*="heading--h"] .heading-text {
	font-size: 20px;
  }
}

@media (max-width: 768px) {

  .crumina-heading {
	margin-bottom: 20px;
  }

  .crumina-heading.heading--inline {
	flex-direction: column;
	align-items: flex-start;
  }

  .crumina-heading.heading--inline .heading-title {
	margin-right: 0;
	margin-bottom: 20px;
	min-width: unset;
	width: auto;
  }

  .crumina-heading.heading--h3 .heading-text {
	margin-top: 15px;
  }

  .crumina-heading.heading--h4 .heading-text {
	margin-top: 10px;
  }

  .crumina-heading.heading--h5 .heading-text {
	margin-top: 5px;
  }

  .crumina-heading.heading--h6 .heading-text {
	margin-top: 0;
  }
}

@media (max-width: 570px) {
  .crumina-heading[class*="heading--h"] .heading-text {
	font-size: 14px;
  }
}