/*------------- Language Switcher --------------*/

.language-switcher {
  width: auto;
  background-color: transparent;
  padding: 0;

  & + .select2 {
	background-color: transparent;
	width: auto;
	padding: 0;
	min-width: 60px;
  }

  & + .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-bottom: 2px solid var(--grey-color);
	border-right: 2px solid var(--grey-color);
	height: 6px;
	width: 6px;
  }

  & + .select2-container--default .select2-selection--single .select2-selection__arrow {
	right: 10px;
	margin-top: -3px;
  }

  & + .select2-container {
	margin-bottom: 0;

	&.select2-container--open {
	  border-color: transparent;

	  .select2-selection--single .select2-selection__arrow b {
		border-bottom: 2px solid var(--primary-accent-color);
		border-right: 2px solid var(--primary-accent-color);
	  }

	  .select2-selection--single .select2-selection__rendered {
		text-decoration: underline;
	  }
	}

	.select2-selection--single .select2-selection__rendered {
	  color: var(--white-color);
	  padding-left: 20px;
	}
  }
}

.language-switcher-dropdown {
  top: 25px;
  box-shadow: 0 16px 30px 2px rgba(0, 0, 0, 0.26);
  border-radius: 5px 0 5px 5px;
  padding: 5px 0;
  border: none;

  .select2-results__option {
	padding: 12px 22px;
	text-decoration: underline;
	text-decoration-color: transparent;
	color: var(--placeholder-color);
	position: relative;

	&:before {
	  content: '';
	  display: block;
	  height: 100%;
	  width: 2px;
	  position: absolute;
	  top: 0;
	  left: 0;
	  background-color: var(--primary-accent-color);
	  opacity: 0;
	  transition: opacity .3s ease-in-out;
	}
  }

  &:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 8px 8px;
	border-color: transparent transparent #ffffff transparent;
  }

  .select2-results__option[aria-selected="true"],
  .select2-results__option--highlighted[aria-selected] {
	background-color: var(--light-grey);
	color: var(--body-font-color);
	text-decoration-color: var(--body-font-color);

	&:before {
	  opacity: 1;
	}
  }
}


/*================= Responsive Mode ============*/


@media (max-width: 580px) {
  .language-switcher,
  .language-switcher + .select2-container {
	display: none;
  }
}

