/*------------- #STYLES for LINKS --------------*/


a {
  display: inline-block;

  &:active {
	color: var(--primary-accent-color);
	text-decoration-color: transparent;
  }
}

.arrow--white {
  color: var(--white-color);

  &:hover {
	color: var(--white-color);
	text-decoration-color: var(--white-color);
  }

  &:active {
	color: var(--primary-accent-color);
	text-decoration-color: transparent;
  }
}

.link--underlined {
  text-decoration-color: var(--grey-dark-theme);
}

.link--bold {
  font-weight: 700;
}

.link--with-icon {
  display: inline-flex;
  align-items: baseline;

  &:hover {
	.puzzle-icon {
	  color: var(--primary-accent-color);
	  fill: var(--primary-accent-color);
	}
  }

  .puzzle-icon {
	font-size: 10px;
	color: #898e9a;
	fill: #898e9a;
  }
}

.link--icon-right {
  .puzzle-icon {
	margin-left: 10px;
  }
}

.link--icon-left {
  .puzzle-icon {
	margin-right: 18px;
  }
}

.link--uppercase-wide {
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

