/*------------- #SOCIALS --------------*/

.socials {
  margin: 10px 0;
  padding-left: 0;

  li {
	display: inline-block;
	margin: 5px 20px 5px 0;
	vertical-align: middle;

	&:last-child {
	  margin-right: 0;
	}

	&:hover .puzzle-icon {
	  fill: var(--primary-accent-color);
	  color: var(--primary-accent-color);
	}
  }

  .puzzle-icon {
	height: 16px;
	width: 16px;
	font-size: 16px;
	fill: var(--icon-color);
	color: var(--icon-color);
	display: block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
  }
}

.socials--colored {
  li {

	&:hover .puzzle-icon {
	  fill: inherit;
	  color: inherit;
	}
  }
}

.socials--round {
  li {
	margin-right: 10px;

	a {
	  width: 30px;
	  height: 30px;
	  display: inline-flex;
	  border-radius: 100%;
	}

	i, .puzzle-icon {
	  margin: auto;
	  fill: var(--white-color);
	  color: var(--white-color);
	}

	&:hover {
	  a {
		box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.2);
	  }

	  .puzzle-icon {
		fill: var(--white-color);
		color: var(--white-color);
	  }
	}
  }
}


.socials--icon-colored {
  li {

	&:hover a {
	  fill: inherit;
	  color: inherit;

	  i, .puzzle-icon {
		fill: inherit;
		color: inherit;
	  }
	}

	a {
	  i, .puzzle-icon {
		width: 20px;
		height: 20px;
		font-size: 20px;
		fill: var(--grey-color);
		color: var(--grey-color);
	  }
	}
  }
}


.socials--blog {
  display: inline-flex;
  flex-direction: column;
  margin: 0;

  li {
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 10px;

	&:hover a {
	  box-shadow: none;
	}

	a {
	  width: 60px;
	  height: 60px;
	  display: inline-flex;
	  border-radius: 100%;
	  border: 1px solid var(--border-grey-color);
	  background-color: transparent;

	  i, .puzzle-icon {
		width: 20px;
		height: 20px;
		font-size: 20px;
		fill: var(--grey-color);
		color: var(--grey-color);
	  }

	  &:hover {
		background-color: inherit;
		border-color: transparent;
		box-shadow: none;

		&.bg-rss {
		  background-color: $c-rss;
		}

		&.bg-mail {
		  background-color: $c-mail;
		}

		&.bg-pinterest {
		  background-color: $c-pinterest;
		}

		&.bg-googleplus {
		  background-color: $c-googleplus;
		}

		&.bg-google {
		  background-color: $c-google;
		}

		&.bg-facebook {
		  background-color: $c-facebook;
		}

		&.bg-twitter {
		  background-color: $c-twitter;
		}

		&.bg-amazon {
		  background-color: $c-amazone;
		}

		&.bg-behance {
		  background-color: $c-behance;
		}

		&.bg-bing {
		  background-color: $c-bing;
		}

		&.bg-creative-market {
		  background-color: $c-creative-market;
		}

		&.bg-deviantart {
		  background-color: $c-deviantart;
		}

		&.bg-dribble {
		  background-color: $c-dribbble;
		}

		&.bg-dropbox {
		  background-color: $c-dropbox;
		}

		&.bg-envato {
		  background-color: $c-envato;
		}

		&.bg-flickr {
		  background-color: $c-flickr;
		}

		&.bg-instagram {
		  background-color: $c-instagram;
		}

		&.bg-kickstarter {
		  background-color: $c-kickstarter;
		}

		&.bg-linkedin {
		  background-color: $c-linkedin;
		}

		&.bg-medium {
		  background-color: $c-medium;
		}

		&.bg-periscope {
		  background-color: $c-periscope;
		}

		&.bg-quora {
		  background-color: $c-quora;
		}

		&.bg-reddit {
		  background-color: $c-reddit;
		}

		&.bg-shutterstock {
		  background-color: $c-shutterstock;
		}

		&.bg-skype {
		  background-color: $c-skype;
		}

		&.bg-snapchat {
		  background-color: $c-snapchat;
		}

		&.bg-soundcloud {
		  background-color: $c-soundcloud;
		}

		&.bg-spotify {
		  background-color: $c-spotify;
		}

		&.bg-trello {
		  background-color: $c-trello;
		}

		&.bg-tumblr {
		  background-color: $c-tumblr;
		}

		&.bg-vimeo {
		  background-color: $c-vimeo;
		}

		&.bg-vk {
		  background-color: $c-vk;
		}

		&.bg-whatsapp {
		  background-color: $c-whatsapp;
		}

		&.bg-wikipedia {
		  background-color: $c-wikipedia;
		}

		&.bg-wordpress {
		  background-color: $c-wordpress;
		}

		&.bg-youtube {
		  background-color: $c-youtube;
		}

		&.bg-messanger {
		  background-color: $c-messanger;
		}

		&.bg-telegram {
		  background-color: $c-telegram;
		}

		&.bg-email {
		  background-color: $c-email;
		}
	  }
	}
  }
}

/*------------- Styles For left and right sticky-sidebars --------------*/

.crumina-sticky-sidebar {
  will-change: min-height;
}

.sidebar__inner{
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}

/*================= Responsive Mode ============*/


@media (max-width: 768px) {
  .socials--round li a {
	width: 25px;
	height: 25px;
  }

  .socials--blog li a {
	width: 40px;
	height: 40px;
  }

  .sidebar__inner {
	transform: none !important;
  }
}

@media (max-width: 460px) {
  .socials--blog li a {
	width: 30px;
	height: 30px;
  }

  .socials--blog li a i,
  .socials--blog li a .puzzle-icon {
	width: 16px;
	height: 16px;
	font-size: 16px;
  }
}
