/*------------- #WINDOW Popup --------------*/


.window-popup {
  .modal-dialog {
	width: 560px;
	max-width: calc(100% - 30px);
	margin-right: auto;
	margin-left: auto;
  }

  .modal-header {
	border-bottom: 0;
	padding: 20px;
  }

  .modal-body {
	padding: 10px 100px 100px 100px;
  }

  .modal-content {
	border: none;
	border-top: 10px solid var(--primary-accent-color);
  }

  .close {
	outline: none;
	transition: all .3s ease;

	&:hover {
	  span {
		color: var(--primary-accent-color);
	  }
	}

	span {
	  transition: all .3s ease;
	}
  }
}




/*================= Responsive Mode ============*/


@media (max-width: 768px) {
  .window-popup .modal-body {
	padding: 10px 30px 30px 30px;
  }
}