/*------------- #W-ABOUT --------------*/


.w-about {
  overflow: hidden;

  p {
	color: var(--heading-color);
	margin-bottom: 40px;
  }

  .widget-title {
	margin-bottom: 40px;
  }

  &.widget-sidebar {
	border-radius: 5px;
	background-color: var(--white-color);
  }
}

.about-content {
  padding: 40px;
}

.about-footer {
  padding: 20px 40px;
  border-top: 1px solid var(--border-grey-color);
}



/*------------- Responsive Mode --------------*/


@media (max-width: 768px) {

  .w-about .widget-title {
	margin-bottom: 20px;
  }

  .w-about p {
	margin-bottom: 20px;
  }

  .about-content {
	padding: 20px;
  }

  .about-footer {
	padding: 20px;
  }
}