/*------------- #W-INFO --------------*/


.w-info {
  .site-logo {
	font-family: var(--font-family-logo);
	margin-bottom: 30px;
  }

  p {
	margin-bottom: 30px;
  }

  &.widget-sidebar {
	border-radius: 5px;
	background-color: var(--white-color);
	padding: 40px;
  }
}

.contact-item {
  display: flex;
  align-items: center;
  font-size: 14px;

  .puzzle-icon {
	color: var(--primary-accent-color);
	fill: var(--primary-accent-color);
	margin-right: 20px;
	font-size: 16px;
	width: 16px;
  }

  & + .contact-item {
	margin-top: 20px;
  }

  a {
	margin-right: 5px;
  }
}


/*------------- Responsive Mode --------------*/


@media (max-width: 768px) {
  .w-info.widget-sidebar {
	padding: 20px;
  }

  .w-info .site-logo {
	margin-bottom: 20px;
  }

  .w-info p {
	margin-bottom: 20px;
  }

  .contact-item + .contact-item {
	margin-top: 5px;
  }
}