/*------------- #W-RECENT-COMMENTS --------------*/


.w-recent-comments {
  	ul {
	  padding-left: 0;
	  margin-bottom: 0;
	  list-style: none;

	  li {
		display: flex;
		align-items: baseline;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid var(--border-grey-color);

		&:hover {
		  .puzzle-icon {
			color: var(--primary-accent-color);
		  }
		}

		.author-name {
		  margin-top: 20px;
		}

		&:last-child {
		  padding-bottom: 0;
		  margin-bottom: 0;
		  border-bottom: none;
		}

		.puzzle-icon {
		  width: 12px;
		  min-width: 12px;
		  margin-right: 15px;
		  color: var(--grey-color);
		}

		.author-name {
		  color: var(--grey-color);
		}
	  }
	}

  .widget-title {
	margin-bottom: 40px;
  }

  &.widget-sidebar {
	border-radius: 5px;
	background-color: var(--white-color);
	padding: 40px;
  }
}


/*------------- Responsive Mode --------------*/


@media (max-width: 768px) {
  .w-recent-comments.widget-sidebar {
	padding: 20px;
  }

  .w-recent-comments .widget-title {
	margin-bottom: 20px;
  }

  .w-recent-comments ul li {
	padding-bottom: 15px;
	margin-bottom: 15px;
  }

  .w-recent-comments ul li .author-name {
	margin-top: 10px;
  }
}