/*------------- #W-SUBSCRIBE --------------*/


.w-subscribe {
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--primary-accent-color);
  padding: 40px;

  .widget-title {
    margin-bottom: 40px;
  }
}

/*------------- Responsive Mode --------------*/


@media (max-width: 768px) {
  .w-subscribe {
    padding: 20px;
  }

  .w-subscribe .widget-title {
    margin-bottom: 20px;
  }
}