/*------------- #W-SUMMARY --------------*/


.w-summary {
  overflow: hidden;

  .widget-title {
	margin-bottom: 40px;
  }

  &.widget-sidebar {
	border-radius: 5px;
	background-color: var(--white-color);
	padding: 40px;
  }
}

.widget-sidebar {
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);

  .widget-title {
	margin-top: 0;
  }
}

.sidebar {
  .widget-sidebar {
	&:last-child {
	  margin-bottom: 20px;
	}
  }
}

.summary-items {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  li {
	margin-bottom: 30px;

	&:last-child {
	  margin-bottom: 0;
	}
  }

  .summary-item {
	display: flex;
	align-items: flex-start;
  }

  .summary-type {
	color: var(--grey-color);
	width: 40%;
	min-width: 40%;
  }
}


/*------------- Responsive Mode --------------*/


@media (max-width: 768px) {
  .w-summary.widget-sidebar {
	padding: 20px;
  }

  .widget-sidebar {
	margin-bottom: 20px;
  }

  .sidebar .widget-sidebar:last-child {
	margin-bottom: 0;
  }
}